.Bouton {
	transition: box-shadow 0.5s;
}

.Bouton:hover {
	-webkit-box-shadow: inset 200px 0 0 0 #b93232;
	box-shadow: inset 200px 0 0 0 #b93232;
}

.Bouton-submit {
	transition: box-shadow 0.5s;
}

.Bouton-submit:hover {
	-webkit-box-shadow: inset 200px 0 0 0 #4ac55e;
	box-shadow: inset 200px 0 0 0 #4ac55e;
}

.optionSelector {
	box-shadow: 2px 4px 18px #000000;
	margin: 4vw;
	padding: 1vw;
	width: 98%;
}

.displayCanvas {
	box-shadow: 2px 4px 18px #000000;
	margin: 4vw;
	padding: 1vw;
}

.question-text {
	border-radius: 100px;
	display: flex;
	text-align: center;
	justify-content: center;
	padding-top: 20px;
	background-color: white;
	box-shadow: 2px 4px 5px #000000;
}
