.navButtons {
	display: flex;
	height: auto;
	width: auto;
	text-align: center;
	padding: 6px;
	color: white;
	font-size: x-large;
	background-color: inherit;
}

.navButtons :hover {
	background-color: #ffd469;
	border-color: #ffd469;
	border-width: 2px;
	border-radius: 0.25rem;
}
