.marketing-footer {
	background-color: rgb(15 23 42);
	padding: 20px;
	display: flex;
	align-items: center;
	padding: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	position: static;
}

.footer-content {
	max-width: 600px;
	margin: 0 auto;
}

.footer-content p {
	font-size: 18px;
	color: #ffc400;
	padding: 10px;
}

.footer-content h3 {
	font-size: 18px;
	color: #ffc400;
	padding: 10px;
}

.LogoImg {
	width: 200px;
	height: auto;
}
