@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #2f2f2f;
  --main-color-dark: #1f1f1f;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
